---
name: Build and publish crossplane package

on:
  workflow_call:
    inputs:
      package-root:
        description: "the root directory of the crossplane package"
        required: false
        default: "apis/"
        type: string

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Extract version from tag
        run: echo "TAG=$(basename $GITHUB_REF_NAME)" >> $GITHUB_ENV

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: ${{ env.DOCKER_BUILDX_VERSION }}
          install: true

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup the Crossplane CLI
        run: "curl -sL https://raw.githubusercontent.com/crossplane/crossplane/master/install.sh | sh"

      - name: Build Configuration package
        run: ./crossplane xpkg build --package-file=pkg.xpkg --package-root=${{ inputs.package-root }}

      - name: Push Crossplane Package
        if: startsWith(github.ref, 'refs/tags/v')
        run: ./crossplane xpkg push -f pkg.xpkg ghcr.io/${{ github.repository }}:${{ env.TAG }}
