---
name: Update Git tag

on:
  workflow_call:
    inputs:
      tag_name:
        description: 'Tag name to update. Example: dev'
        required: true
        type: string
      ref:
        description: 'The git ref to tag (SHA or branch)'
        required: true
        type: string

jobs:
  update-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Git identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update tag
        run: |
          git tag -d ${{ inputs.tag_name }} || true
          git tag ${{ inputs.tag_name }} "${{ inputs.ref }}"
          git push origin ":refs/tags/${{ inputs.tag_name }}" || true
          git push origin ${{ inputs.tag_name }}
