---
name: Release Please

on:
  workflow_call:
    inputs:
      app-id:
        default: "2164640"
        required: false
        description: |
          The app ID of the Github App with necessary api-permissions to publish releases.
          Defaults to sn-atmos release bot id.
        type: string
      config-file:
        required: false
        description: |
          Path to the release-please config in the repository
          example: release-please-config.json
        type: string
      manifest-file:
        required: false
        description: |
          Path to the release-please versions manifest.
          Example: .release-please-manifest.json
        type: string
    secrets:
      RELEASE_BOT_PRIVATE_KEY:
        required: true
        description: |
          The private key of the Github app from inputs.appID.
          Use secrets: inherit in your github action to inherit organization level secrets.
    outputs:
      release_created:
        description: true if the release was created, false otherwise
        value: ${{ jobs.release-please.outputs.release_created }}
      major:
        description: Number representing major semver value
        value: ${{ jobs.release-please.outputs.major }}
      minor:
        description: Number representing minor semver value
        value: ${{ jobs.release-please.outputs.minor }}
      patch:
        description: Number representing patch semver value
        value: ${{ jobs.release-please.outputs.patch }}
      sha:
        description: sha that a GitHub release was tagged at
        value: ${{ jobs.release-please.outputs.sha }}

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      major: ${{ steps.release.outputs.major }}
      minor: ${{ steps.release.outputs.minor }}
      patch: ${{ steps.release.outputs.patch }}
      sha: ${{ steps.release.outputs.sha }}
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        id: token
        with:
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}
      - id: release
        uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        with:
          config-file: ${{ inputs.config-file }}
          manifest-file: ${{ inputs.manifest-file }}
          token: ${{ steps.token.outputs.token }}
