---
name: Snapshot Test
on:
  workflow_call: {}

jobs:
  snapshot-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install deps
        run: >
          sudo apt-get update
          && sudo apt-get install -y --no-install-recommends
          ca-certificates
          curl
          make
          && sudo rm -rf /var/lib/apt/lists/*

      - name: Install atmos-crossplane cli
        run: >
          curl -sSfL
          https://github.com/sn-atmos/crossplane/releases/download/v0.5.0/crossplane_0.5.0_linux_amd64.tar.gz
          | tar -xzC /usr/local/bin --transform 's|crossplane|atmos-crossplane|' crossplane

      - name: Test
        run: |
          make test

      - name: Validate
        continue-on-error: true
        run: |
          make validate
